* {
	font-family: 'Quicksand';
}
h1{
	font-size: 46px;
}
.containerB {
	padding-top: 20px;
	padding: 15px;
	padding-bottom: 10px;
	color: inherit;
}
.lead{
	margin-bottom: 0;
}
.containerB blockquote{
	text-shadow: 2px 2px 1px white;
}

.modal-header,
.modal-footer {
	background-color: #78caed;
}

#wrapper {
	display: none;
	background: #EFEFEF;
	box-shadow: 1px 1px 10px #999;
	margin: auto;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	padding-top: 5px;
	height: auto;
}

.similarGames {
	display: inline-block;
	list-style-type: none;
	font-size: 13px;
}

h3 {
	white-space: initial;
}

.formSearch {
	margin-left: 20px;
	display: inline-flex;
}
.formSearch select{
	height: 30px;
	margin-left: 10px;
}

.generalGamesBox {
	overflow-x: scroll;
	overflow-y: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;
	position: relative;
}

.gamesBox:hover {
	background-color: #95d2ed;
}

.gamesBox {
	transform: all .3 linear;
	background-color: #bfe2f2;
	width: 270px;
	height: 380px;
	margin: 8px;
	padding: 20px;
	cursor: pointer;
	border-radius: 15px;
	display: inline-table;
	border-style: solid;
	border-top-width: 1px;
	border-bottom-width: 3px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: black;
}
.gamesBox h3{
	margin-top:0px;
}
.gamesBox small{
	margin-top: 0px ;
}

.buttonsearch {
	position: absolute;
	bottom: 20px;
	margin-bottom: 0;
	margin-left: 20%;
}

p {
	white-space: initial;
}

img {
	height: 315px;
	width: 250px;
	justify-content: flex-start;
}

blockquote {
	font-size: 25px;
	padding: 6px 16px;
	border: none;
	quotes: "\201C" "\201D";
	display: inline-block;
	position: relative;
}

blockquote:before {
	content: open-quote;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}

blockquote:after {
	content: close-quote;
	font-weight: bold;
	bottom: 0;
	right: 0;
}

.modal-body p {
	font-size: 19px;
}

.lead input {
	text-align: center;
	height: 50px;
	width: 200px;
	background-color: #f4f2f2;
	padding: 0px;
	margin-bottom: 3px;
	border-style: solid;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 3px solid black;
}

.filters{
    display: flex;
    font-size: 17px;

}

.modal-inline{
	display: flex;
}

.modal-inline button {
	background: transparent;
	border: 0;
	margin-left: auto;
}

.bg div{
	margin: auto;
	display: flex;
}
.bg span{
	display: inline-block;
	margin-left: auto;

}
.bg span button{
	background: transparent;
	border: 0;
	font-family: 'Quicksand';
	text-shadow: 2px 2px 1px white;
	font-size: 20px;
}

.wall {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity : 0.2;
	background-image: url("../img/wallpaper.jpg") !important;
	background-position: 100%;
}

.containerB{
	position: relative;
}