* {
	font-family: 'Quicksand';
}
h1{
	font-size: 46px;
}

.loginmodal-container {
  padding: 30px;
  /*max-width: 350px;*/
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Quicksand';
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Quicksand';
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: 'Quicksand';
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.containerB {
	padding-top: 20px;
	padding: 15px;
	padding-bottom: 10px;
	color: inherit;
}
.lead{
	margin-bottom: 0;
}
.containerB blockquote{
	text-shadow: 2px 2px 1px white;
}

.modal-header,
.modal-footer {
	background-color: #78caed;
}

#wrapper {
	display: none;
	background: #EFEFEF;
	box-shadow: 1px 1px 10px #999;
	margin: auto;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	padding-top: 5px;
	height: auto;
}

.similarGames {
	display: inline-block;
	list-style-type: none;
	font-size: 13px;
}

h3 {
	white-space: initial;
}

.formSearch {
	margin-left: 20px;
	display: inline-flex;
}
.formSearch select{
	height: 30px;
	margin-left: 10px;
}

.generalGamesBox {
	overflow-x: scroll;
	overflow-y: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;
	position: relative;
}

.gamesBox:hover {
	background-color: #95d2ed;
}

.gamesBox {
	transform: all .3 linear;
	background-color: #bfe2f2;
	width: 270px;
	height: 380px;
	margin: 8px;
	padding: 20px;
	cursor: pointer;
	border-radius: 15px;
	display: inline-table;
	border-style: solid;
	border-top-width: 1px;
	border-bottom-width: 3px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: black;
}
.gamesBox h3{
	margin-top:0px;
}
.gamesBox small{
	margin-top: 0px ;
}

.relGamesBox{
		transform: all .3 linear;
	background-color: #bfe2f2;
	width: 270px;
	height: 200px;
	margin: 8px;
	padding: 20px;
	cursor: pointer;
	border-radius: 15px;
	display: inline-table;
	border-style: solid;
	border-top-width: 1px;
	border-bottom-width: 3px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: black;
}
.relGamesBox h3{
	margin-top:0px;
}
.buttonsearch {
	position: absolute;
	bottom: 20px;
	margin-bottom: 0;
	margin-left: 20%;
}

p {
	white-space: initial;
}

img {
	height: 315px;
	width: 250px;
	justify-content: flex-start;
}

blockquote {
	font-size: 25px;
	padding: 6px 16px;
	border: none;
	quotes: "\201C" "\201D";
	display: inline-block;
	position: relative;
}

blockquote:before {
	content: open-quote;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}

blockquote:after {
	content: close-quote;
	font-weight: bold;
	bottom: 0;
	right: 0;
}

.modal-body p {
	font-size: 19px;
}

.lead input {
	text-align: center;
	height: 50px;
	width: 200px;
	background-color: #f4f2f2;
	padding: 0px;
	margin-bottom: 3px;
	border-style: solid;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 3px solid black;
}

.filters{
    display: flex;
    font-size: 17px;

}

.modal-inline{
	display: flex;
}

.modal-inline button {
	background: transparent;
	border: 0;
	margin-left: auto;
}

.bg div{
	margin: auto;
	display: flex;
}
.bg span{
	display: inline-block;
	margin-left: auto;

}
.bg span button{
	background: transparent;
	border: 0;
	font-family: 'Quicksand';
	text-shadow: 2px 2px 1px white;
	font-size: 20px;
}
.btn-group{
	display: flex;
}
.dropdown-menu{
	
}
.wall {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity : 0.2;
	background-image: url("../img/wallpaper.jpg") !important;
	background-position: 100%;
}

.containerB{
	position: relative;
}
.similarGames input{
	 background:none;
    border:none;
    margin:0;
    padding:0;
}
.franchiseGames{
	padding: 0;
}
.franchiseGames input{
	background:none;
    border:none;
    margin:0;
    padding:0;
}
.franchiseGames li{
	list-style-type: none;
}
