<!DOCTYPE html>
<html lang="en" ng-app="gameApp">

<head>
	<meta charset="UTF-8">
	<title>GameStuff</title>
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="img/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
	<div class="wall"></div>
	<div ng-controller="DataController">
		<div class="containerB">
			<div class="bg">
				<div class="col-lg-12">
					<h1 class="display-3">GameStuff 👾🎮</h1>
					<span class="glyphicon glyphicon-home"><button href="#" data-toggle="modal" data-target="#login-modal">Enter</button></span>
				</div>

				<!-- LOGIN MODAL -->
				<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
					<div class="modal-dialog">
						<div class="loginmodal-container">
							<h1>Login to Your Account</h1><br>
							<form>
								<input type="text" ng-model="user" placeholder="Username">
								<input type="password" ng-model="pass" placeholder="Password">
								<input type="submit" name="login" class="login loginmodal-submit" value="Login" ng-click="login(user, pass)">
							</form>
							<div class="login-help">
								<a href="#">Register</a> - <a href="#">Forgot Password</a>
							</div>
						</div>
					</div>
				</div>


				<hr class="m-y-md">
				<blockquote>The obvious objective of video games is to entertain people by surprising them with new experiences. - <strong>Shigeru Miyamoto</strong>
				</blockquote>
			</div>
			<div class="formSearch">
				<p class="lead">
					<input type="text" ng-model="gameTitle" placeholder="Search title"></input>
					<a ng-click="games()" type="button" class="btn btn-primary btn-lg" role="button">Get Games
					</a>
				</p>
				<span class="filters">
					<div class="btn-group">
						<button type="button" class="btn btn-primary">Order By: </button>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="changeSort('original_release_date')">release date</a></li>
							<li><a href="#">genre</a></li>
						</ul>
					</div>
				</span>
			</div>
		</div>
		<div ng-view></div>
	</div>


	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/factory.js"></script>
	<script src="js/routes.js"></script>
</body>

</html>
