<div id="wrapper" ng-style="myStyle">
	<h3>Filtered by: {{relacionatedGames.name}}</h3>
	<h4>Items found: {{numberOfGames()}}</h4>
	<p>{{relacionatedGames.deck}}</p>
	<div class="generalGamesBox container" >
		<div class="relGamesBox" ng-style="mySecStyle" ng-repeat="relacionated in relacionatedGames.games" >
			<h3>{{relacionated.name}}</h3>
			<button class="btn buttonsearch" ng-click="gameMoreInfo(relacionated.api_detail_url)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">More info</button>
		</div>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header col-md-12 modal-inline">
				<h2 class="modal-title col-md-9">{{infoAboutGames.name}} <small> {{infoAboutGames.publishers[0].name}}</small></h2>
				<button class="col-md-3 glyphicon glyphicon-heart-empty" ng-click="addToFavorite(infoAboutGames.name)"></button>
			</div>
			<div class="modal-body">
				<p>{{infoAboutGames.deck}}</p>
				<p>Release Date: {{infoAboutGames.original_release_date | limitTo: 10 }}</p>
				<p>Genres: <small ng-repeat=" genre in infoAboutGames.genres | limitTo: 3"> - {{genre.name}}</small></p>
				<p >Franchise: 
					<ul class="franchiseGames">
						<li ng-repeat=" franchise in infoAboutGames.franchises"> 
						<input type="button" ng-click="getList(franchise.api_detail_url)" value="{{franchise.name}}" data-dismiss="modal"></li>
				</p>
				<img src="{{infoAboutGames.image.small_url}}" alt="Cover game"></img>
				<ul class="similarGames">
					<p>Similar Games:</p>
					<li ng-repeat="similarGames in infoAboutGames.similar_games | limitTo: 8"><input type="button" ng-click="gameMoreInfo(similarGames.api_detail_url)" data-dismiss="modal" value="{{similarGames.name}}"></li>
				</ul>
				<p><small>Studio: {{infoAboutGames.developers[0].name}}</small></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>